<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wagento>
            <origin_headers>
                <enable_browser>0</enable_browser>
                <enable_log>0</enable_log>
            </origin_headers>
        </wagento>
    </default>
</config>
